<div class="container body404">
	<h1 class="title404">404</h1>
	<div class="row">
		<div class="col-12">
			<img class="doge404" src="https://vignette.wikia.nocookie.net/animal-jam-clans-1/images/f/fa/Tumblr_static_45vrnh9wl328oo484s4gkkcw8.gif/revision/latest?cb=20160608224130" alt="doge" width="350">
		</div>
	</div>
	<div class="row">
		<div class="col-6 col-md-3">
			<h2 class="doge1 doge">Wow</h2>
		</div>
		<div class="col-6 col-md-3">
			<h2 class="doge2 doge">Many refresh</h2>
		</div>
		<div class="col-6 col-md-3">
			<h2 class="doge3 doge">Such no</h2>
		</div>
		<div class="col-6 col-md-3">
			<h2 class="doge4 doge">Very mistake</h2>
		</div>
	</div>
</div>