<!DOCTYPE html>
<html>
 <head>
   <meta charset=“UTF-8”>
   <title>Diets</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
   <link href="https://fonts.googleapis.com/css?family=Comfortaa|Gugi|Raleway" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="../styles/style.css">
 </head>
 <body>
 	<div class="mainBody">
 		<a class="mainTitle" href='/'>Nutri<span class="titleChar">F</span>oods</a>
		<% include partials/navbar %>
		<div class="container">
		 	<% include partials/alerts %>
		 	<% if(currentUser) { %>
	 		<div id="currentUser" class="loggedIn"><%= currentUser.name %></div>
	 		<% } %>
			<%- body %>
		</div>
	</div>
	<% include partials/footer %>
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
 	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
 	<script src="../scripts/app.js"></script>
 	<script src="../scripts/appFunctions.js"></script>
 </body>
</html>