<form id="searchForm">
	<div class="form-group row">
		<div class="col-8" id="searchDiv">
			<input class="form-control searchBar" type="text" id ="searchInput" class="form-control" name="search" placeholder="Enter items to search" onInput="searchChange(this.value);" autocomplete="off" autofocus="true">
		</div>
		<div class="col-4">
			<input type="submit" value="Search" class="btn-success btn">
		</div>
	</div>
</form>
<div id='searchResults'>
</div>
<hr>
<div id='nutrientResults'>
<!-- testing -->


<h3 class="mx-auto">5 large eggs</h3>
<div class="container nutrientBox">
  <div class="row">
    <div class="col-sm">
      <img class="border rounded-left border-info" src="https://d2xdmhkmkbyw75.cloudfront.net/540_thumb.jpg" width="250"></img>
    </div>
    <div class="col-sm">
      <ul class="border rounded-right border-info">
        <li>Calories: 357.5</li>
        <li>Protein: 31.4</li>
        <li>Total Carbs: 1.8</li>
        <li>Sodium: 355</li>
        <li>Total Fat: 23.78</li>
      </ul>
    </div>
  </div>
</div>
<button id="saveItem" type="button" name="button" class="btn btn-primary">Save</button>



<!-- testing -->
</div>

<!-- Modal -->
<div class="modal fade" id="foodInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter quantity for <span id="foodNameHTML"></span></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form id="searchFormModal">
			<input class="form-control" type="text" id ="foodQuantity" class="form-control" name="search" placeholder="Enter quantity" autocomplete="off" onInput="quantityChange(this.value);">
      		<div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		        <button id="submitModalForm" type="submit" class="btn btn-primary" data-dismiss="modal">Submit</button>
     		</div>
		</form>

      </div>
      	
    </div>
  </div>
</div>