<h1>SEARCH</h1>
<form id="searchForm" action="/search" method="POST">
	<div class="form-group row">
		<div class="col-6" id="searchDiv">
			<!-- <label for="search">Search:</label> -->
			<input class="typeahead form-control" type="text" id ="searchInput" class="form-control" name="search" placeholder="Enter items to search">
		</div>
		<div class="col-6">
			<input type="submit" value="Submit" class="btn-success btn">
		</div>
	</div>
</form>
<% if(food !== ""){ %>
	<hr>
	<div class="container">
		<p><% food %></p>
	</div>
<% } %>