<h1>SEARCH</h1>
<form id="searchForm">
	<div class="form-group row">
		<div class="col-10" id="searchDiv">
			<!-- <label for="search">Search:</label> -->
			<input class="form-control" type="text" id ="searchInput" class="form-control" name="search" placeholder="Enter items to search" onInput="searchChange(this.value);" autocomplete="off">
			<!-- <input class="typeahead form-control" type="text" id ="searchInput" class="form-control" name="search" placeholder="Enter items to search"> -->
		</div>
		<div class="col-2">
			<input type="submit" value="Submit" class="btn-success btn">
		</div>
	</div>
	<div id='searchResults'>
    </div>
    <hr>
    <div id='nutrientResults'>
    </div>
</form>