<form id="searchForm">
	<div class="searchBlock form-group row">
		<div class="col-9" id="searchDiv">
			<input class="form-control searchBar" type="text" id ="searchInput" class="form-control" name="search" placeholder="Enter items to search" onInput="searchChange(this.value);" autocomplete="off" autofocus="true">

		</div>
		<div class="col-3">
			<input type="submit" value="Search" class="btn-success btn submitBtn">
		</div>
	</div>
	<div class="form-group row">
		<div class="col-9" id='searchResults'>
		
		</div>
	</div>
</form>

<hr>
<div id='nutrientResults'>

</div>

<!-- Modal -->
<div class="modal fade" id="foodInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Enter quantity for <span id="foodNameHTML"></span></h5>
        <button type="button" class="close modalBtn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form id="searchFormModal">
			<input class="form-control modalInput" type="text" id ="foodQuantity" class="form-control" name="search" placeholder="Enter quantity" autocomplete="off" onInput="quantityChange(this.value);">
      		<div class="modal-footer">
		        <button type="button" class="btn btn-secondary modalBtn" data-dismiss="modal">Close</button>
		        <button id="submitModalForm" type="submit" class="btn btn-primary modalBtn" data-dismiss="modal">Submit</button>
     		</div>
		</form>

      </div>
      	
    </div>
  </div>
</div>