/*@font-face {
    font-family: 'liquidromregular';
    src: url('liquidrom-webfont.woff2') format('woff2'),
         url('liquidrom-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}*/
html {
	background-color: #516982;
}
.mainBody {
	font-family: 'Gugi', cursive;
	background-color: #ccd8e2;
	padding-bottom: 100px;
}
.quickSearch:hover {
	cursor: pointer;
	background-color: #ccd8e2;
}
.nutrientBox {
	background-color: #578da8;
}
.searchBar {
	width: 70%;
	float: right;
	font-size: 20px;
}
.searchBlock {
	padding-top: 30px;
	padding-bottom: 0;
}
.btn {
	font-size: 20px;
}
.mainTitle {
	/*font-family: 'liquidromregular';*/
	display: block;
	font-size: 85px;
	text-align: center;
	background-color: #1d3247;
	color: white;
}
.titleChar {
	color: red;
}
.mainTitle:hover {
	color: black;
	cursor: pointer;
	text-decoration: none;
}
.mainTitle:hover .titleChar {
	color: white;
}
.navLinks {
	font-size: 24px;
}
.navBar {
	background-color: #516982;
	padding: 0;
}
.navbar-nav {
	margin: 0 auto;
}
.footerDiv {
	background-color: #516982;
}
.quickSearch {
	background-color: white;
	margin: 0;
	width: 70%;
	float: right;
}

@media only screen and (min-width: 600px) {
    .navLinks {
		font-size: 40px;
	}
	.navBar {
		padding: 10px;
	}
}